name: Build and test pull requests

on:
  pull_request

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: Test
      run: make CONFIGURE=false init test
